<div class="viewmain">
	<div class="vsblock">
		<div class="my">
			<div ng-class="{'icon':true, 'handIconG':(myHand=='G'), 'handIconP':myHand=='P', 'handIconC':myHand=='C'}">
				<div class="selectIcons" ng-show="myHand==null">
					<button ng-click="setMyHand('G')"><img src="images/iconG.png" alt=""></button>
					<button ng-click="setMyHand('C')"><img src="images/iconC.png" alt=""></button>
					<button ng-click="setMyHand('P')"><img src="images/iconP.png" alt=""></button>
				</div>
			</div>
			<div class="name">自分</div>
		</div>
		<div class="vs">
			<span ng-show="enemyHand==null && myHand==null">VS</span>
			<span ng-show="enemyHand==null && myHand!=null">じゃんけん</span>
			<span ng-show="enemyHand!=null && result==null">ぽん</span>
			<span ng-show="result=='Win'">勝ち</span>
			<span ng-show="result=='Lose'">負け</span>
			<span ng-show="result=='Even'">あいこ</span>
		</div>
		<div class="enemy">
			<div ng-class="{'icon':true, 'handIconG':(enemyHand=='G'), 'handIconP':(enemyHand=='P'), 'handIconC':(enemyHand=='C')}"></div>
			<div class="name">コンピュータ</div>
		</div>
	</div>
  <button ng-show="result!=null" ng-click="reset()">再戦</button>
  <div ng-show="isLoggedIn==false">
	  <button ng-click="login()">ログイン</button>
  </div>
  <div ng-show="isLoggedIn==true">
	  <div ng-include="" src="'views/coin.html'" ng-hide="myCoin==0"></div>
	  <div ng-include="" src="'views/nocoin.html'" ng-show="myCoin==0"></div>
	  <button ng-click="logout()">ログアウト</button>
  </div>
  <div ng-show="isLoggedIn==null">
	  ロード中...
  </div>
</div>